---
---

// Breakpoints
// ==========================================================================
$break-0: 0;
$break-1: 20em; // 320px
$break-2: 30em; // 480px
$break-3: 37.5em; // 600px
$break-4: 48em; // 768px
$break-5: 60em; // 960px
$break-6: 68.75em; // 1100px

$default-font-size: 16px;

$font-stack-arimo: 'Arimo',sans-serif;
$font-stack-lobster: 'Lobster', sans-serif;

// Colors 
// ==========================================================================

$color-accent: #18bc9c;
$color-bg: #f3f3f3;
$color-bg-dark: #000021;
$color-text-main: #fff;
$color-text-secondary: #a0a0af;
$color-text-main-dark: #000021;
$color-text-secondary-dark: #4a4a61;

// Mixins
// ===========================================================================
@mixin center {
	margin-left: auto;
	margin-right: auto;
}

html {
  background-color: $color-bg;
}

body {
  font-family: $font-stack-arimo;
  font-size: $default-font-size;
  color: $color-text-main-dark;
  margin: 0;
}

a {
  color: $color-text-main;
  text-decoration: none;
  &:hover {
    color: $color-text-secondary;
  }
  .light-section & {
    color: $color-accent;
    &:hover {
      color: $color-text-secondary-dark;
    }
  }
}

ul {
  padding-left: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: $color-text-main;
  .light-section & {
    color: $color-text-main-dark;
  }
}

h1 {
  font-family: $font-stack-lobster;
  font-size: 3em;
}

.container {
  @include center;
  box-sizing: border-box;
  padding: 0 1em;
  max-width: $break-4;
  @media (max-width: $break-4) {
    width: $break-3;
  }
  @media (max-width: $break-3) {
    width: 100%;
  }
}

.section-heading {
  padding-top: 1px;
  text-align: center;
}

.section-divider {
  margin: 0;
  background: $color-accent;
  height: 4px;
  border: none;
}

.top-nav {
  background-color: $color-bg-dark;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    justify-content: flex-end;
  }
  li {
    padding: 0 0.75em;
    list-style-type: none;
  }
  a {
    display: inherit;
  }
  svg {
    fill: $color-accent;
    font-family: $font-stack-lobster;
    text {
      fill: $color-text-main-dark;
    }
    &:hover text {
      fill: $color-text-main;
    }
  }
}

.profile {
  text-align: center;
  background: radial-gradient($color-bg 35%, $color-text-secondary);
  background-color: $color-bg;
  header {
    padding: 5em 0.5em 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .headshot {
    width: 150px;
    margin: 0 2em;
  }
  @media (min-width: $break-4) {
    h1 {
      font-size: 4em;
    }
    .headshot {
      width: 200px;
    }
  }
}

#projects {
  background-color: $color-bg-dark;
  overflow: auto;
}

.project-list {
  // padding: 0 1em 2em;
  @media (min-width: $break-2) {
    display: flex;
    flex-wrap: wrap;
	}
}

.project {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0 1em;
  list-style-type: none;
  h3 {
    color: $color-text-main;
  }
	a {
    display: block;
    max-width: $break-2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tech-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
  }
  pre {
    color: $color-text-secondary;
    border-color: $color-text-secondary;
    font-size: 14px;
  }
	@media (min-width: $break-2) {
		max-width: none;
		width: 50%;
	}
	@media (min-width: $break-5) {
		width: 33.333%;
  }
}

@supports (display: grid) {
	@media (min-width: $break-2) {
		.project-list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 2em;
			grid-row-gap: 2em;
		}
		.project {
      width: auto;
      padding: 0;
      margin: 0;
		}
	}
	@media (min-width: $break-5) {
		.project-list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.project-header {
  h1 {
    display: inline-block;
    margin-bottom: 0.25em;
    margin-right: 0.5em;
  }
  p {
    display: inline-block;
    color: $color-text-secondary;
  }
}

.outline {
  display: inline-block;
  background: transparent;
  padding: 0.4em 0.5em;
  margin: 3px;
  border: 1px solid;
  border-color: inherit;
}

.fluid-img {
  max-width: 100%;
  padding: 1em 0;
}