@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Lobster');

:root {
  /*--accent-color: #30ffbc;*/
  --accent-color: #18bc9c;

  --dark-bg-color: #000021;
  --main-text-color: #fff;
  --secondary-text-color: #a0a0af;

  --light-bg-color: #f3f3f3;
  --dark-main-text-color: #000021;
  --dark-secondary-text-color: #4a4a61;
}

* {
  box-sizing: border-box;
}

html {
  margin-right: calc(-100vw + 100%); /* fixes page jump when scrollbar disappears */
  overflow-x: hidden;
}

body {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  margin: 0;
  color: var(--dark-main-text-color);
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-text-color);
}

ul {
  padding-left: 0;
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.container {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

.main-nav {
  padding: 1em;
  background-color: var(--dark-bg-color);
  text-align: right;
}

.main-nav li {
  display: inline;
  padding: 1em;
}

.profile {
  text-align: center;
  background-color: var(--light-bg-color);
}

.profile header {
  padding: 1em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile a {
  color: var(--accent-color);
}

.headshot {
  width: 100px;
  transition: width 150ms ease-out;
  margin-right: 1em;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4em;
  }

  h3 {
    font-size: 1.5em;
  }

  .profile {
    padding: 3em 1em;
  }

  .headshot {
    width: 200px;
    margin-right: 3em;
  }

  .section-heading {
    font-size: 3em;
  }
}

.section-heading {
  text-align: center;
}

.dark-section .section-heading {
  color: var(--main-text-color);
}

#projects {
  background-color: var(--dark-bg-color);
  border-top: 5px solid var(--accent-color);
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.thumb {
  text-align: center;
  color: var(--main-text-color);
}

.thumb a {
  display: block;
  width: 100%;
  height: 200px;
  margin: 20px;
  list-style-type: none;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 320px) {
  .thumb a { width: 280px; }
}

.thumb-facade {
  position: fixed;
  top: 4vh;
  z-index: 2;
  left: 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: none;
  margin: 0 calc(50vw - 50%);
}

.thumb-facade img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail-view {
  width: 30em;
  background-color: transparent;
  color: white;
  visibility: hidden;
}
